solarprognose.json
[
    {
        "id": "27c7285378b4bf0f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8594b406c126ac1a",
        "type": "http request",
        "z": "27c7285378b4bf0f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.proplanta.de/Wetter/Burgrieden-Wetter-Heute.html",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 250,
        "y": 700,
        "wires": [
            [
                "b84c7c936d56ede3"
            ]
        ]
    },
    {
        "id": "d826d97d5d255ef9",
        "type": "inject",
        "z": "27c7285378b4bf0f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 700,
        "wires": [
            [
                "8594b406c126ac1a"
            ]
        ]
    },
    {
        "id": "b84c7c936d56ede3",
        "type": "html",
        "z": "27c7285378b4bf0f",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "#GS td span",
        "ret": "text",
        "as": "single",
        "x": 410,
        "y": 700,
        "wires": [
            [
                "3deb46677752b368"
            ]
        ]
    },
    {
        "id": "3deb46677752b368",
        "type": "function",
        "z": "27c7285378b4bf0f",
        "name": "PV Today",
        "func": "// 65 = Solarfläche\n// 0.15 = Workingsgrad\nflow.set(\"pv_today\",parseFloat(msg.payload[1].split('kWh/qm')[0].replace(',', '.'))*65*0.11)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 700,
        "wires": [
            [
                "e8a4a24b8b95b87d"
            ]
        ]
    },
    {
        "id": "e8a4a24b8b95b87d",
        "type": "debug",
        "z": "27c7285378b4bf0f",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 700,
        "wires": []
    },
    {
        "id": "9b859447b7be7dea",
        "type": "victron-output-settings",
        "z": "27c7285378b4bf0f",
        "d": true,
        "service": "com.victronenergy.settings",
        "path": "/Settings/SystemSetup/MaxChargeCurrent",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "com.victronenergy.settings",
            "paths": [
                {
                    "path": "/Settings/CGwacs/AcPowerSetPoint",
                    "type": "float",
                    "name": "ESS control loop setpoint (W)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/BatteryLife/MinimumSocLimit",
                    "type": "float",
                    "name": "ESS Minimum SoC (unless grid fails) (%)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/BatteryLife/State",
                    "type": "enum",
                    "name": "ESS BatteryLife state",
                    "enum": {
                        "0": "Unused, BL disabled",
                        "1": "Restarting",
                        "2": "Self-consumption",
                        "3": "Self-consumption",
                        "4": "Self-consumption",
                        "5": "Discharge disabled",
                        "6": "Force charge",
                        "7": "Sustain",
                        "8": "Low Soc Recharge",
                        "9": "Keep batteries charged",
                        "10": "BL Disabled",
                        "11": "BL Disabled (Low SoC)",
                        "12": "BL Disabled (Low SOC recharge)"
                    },
                    "writable": true
                },
                {
                    "path": "/Settings/SystemSetup/MaxChargeCurrent",
                    "type": "float",
                    "name": "DVCC system max charge current (A DC)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/Hub4Mode",
                    "type": "enum",
                    "name": "ESS Mode",
                    "enum": {
                        "1": "ESS with Phase Compensation",
                        "2": "ESS without phase compensation",
                        "3": "Disabled/External Control"
                    },
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/MaxChargePercentage",
                    "type": "float",
                    "name": "ESS max charge current (fractional) (%)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/MaxDischargePercentage",
                    "type": "float",
                    "name": "ESS max discharge current (fractional) (%)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/MaxDischargePower",
                    "type": "float",
                    "name": "ESS max discharge current (W)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/MaxFeedInPower",
                    "type": "float",
                    "name": "Maximum System Grid Feed In (W)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/OvervoltageFeedIn",
                    "type": "enum",
                    "name": "Feed excess DC-coupled PV into grid",
                    "enum": {
                        "0": "Don’t feed excess DC-tied PV into grid",
                        "1": "Feed excess DC-tied PV into the grid"
                    },
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/PreventFeedback",
                    "type": "enum",
                    "name": "AC-coupled PV - grid feed in excess",
                    "enum": {
                        "0": "Feed excess AC-tied PV into grid",
                        "1": "Don’t feed excess AC-tied PV into the grid"
                    },
                    "writable": true
                },
                {
                    "path": "/Settings/SystemSetup/MaxChargeVoltage",
                    "type": "float",
                    "name": "Limit managed battery voltage (V DC)",
                    "writable": true
                }
            ]
        },
        "pathObj": {
            "path": "/Settings/SystemSetup/MaxChargeCurrent",
            "type": "float",
            "name": "DVCC system max charge current (A DC)",
            "writable": true
        },
        "name": "",
        "x": 650,
        "y": 760,
        "wires": []
    },
    {
        "id": "efd6f35e3ee8e1c8",
        "type": "http request",
        "z": "27c7285378b4bf0f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.proplanta.de/Wetter/Burgrieden-Wetter-Morgen.html",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 220,
        "wires": [
            [
                "e8a57f5729bc3f3b"
            ]
        ]
    },
    {
        "id": "dc0c18ca3255cdf0",
        "type": "inject",
        "z": "27c7285378b4bf0f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "efd6f35e3ee8e1c8"
            ]
        ]
    },
    {
        "id": "e8a57f5729bc3f3b",
        "type": "html",
        "z": "27c7285378b4bf0f",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "#GS td span",
        "ret": "text",
        "as": "single",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "8305458655a6946a"
            ]
        ]
    },
    {
        "id": "8305458655a6946a",
        "type": "function",
        "z": "27c7285378b4bf0f",
        "name": "PV Tomorrow",
        "func": "// 65 = Solarfläche\n// 0.15 = Workingsgrad\nflow.set(\"pv_tomorrow\",parseFloat(msg.payload[1].split('kWh/qm')[0].replace(',', '.'))*65*0.11)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 220,
        "wires": [
            [
                "c39b321be3d7bdbe",
                "338f84b5c65f2f99"
            ]
        ]
    },
    {
        "id": "c39b321be3d7bdbe",
        "type": "debug",
        "z": "27c7285378b4bf0f",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 220,
        "wires": []
    },
    {
        "id": "8cbeb0993f3dfbaf",
        "type": "victron-output-settings",
        "z": "27c7285378b4bf0f",
        "service": "com.victronenergy.settings",
        "path": "/Settings/CGwacs/BatteryLife/MinimumSocLimit",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "com.victronenergy.settings",
            "paths": [
                {
                    "path": "/Settings/CGwacs/AcPowerSetPoint",
                    "type": "float",
                    "name": "ESS control loop setpoint (W)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/BatteryLife/MinimumSocLimit",
                    "type": "float",
                    "name": "ESS Minimum SoC (unless grid fails) (%)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/BatteryLife/State",
                    "type": "enum",
                    "name": "ESS BatteryLife state",
                    "enum": {
                        "0": "Unused, BL disabled",
                        "1": "Restarting",
                        "2": "Self-consumption",
                        "3": "Self-consumption",
                        "4": "Self-consumption",
                        "5": "Discharge disabled",
                        "6": "Force charge",
                        "7": "Sustain",
                        "8": "Low Soc Recharge",
                        "9": "Keep batteries charged",
                        "10": "BL Disabled",
                        "11": "BL Disabled (Low SoC)",
                        "12": "BL Disabled (Low SOC recharge)"
                    },
                    "writable": true
                },
                {
                    "path": "/Settings/SystemSetup/MaxChargeCurrent",
                    "type": "float",
                    "name": "DVCC system max charge current (A DC)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/Hub4Mode",
                    "type": "enum",
                    "name": "ESS Mode",
                    "enum": {
                        "1": "ESS with Phase Compensation",
                        "2": "ESS without phase compensation",
                        "3": "Disabled/External Control"
                    },
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/MaxChargePercentage",
                    "type": "float",
                    "name": "ESS max charge current (fractional) (%)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/MaxDischargePercentage",
                    "type": "float",
                    "name": "ESS max discharge current (fractional) (%)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/MaxDischargePower",
                    "type": "float",
                    "name": "ESS max discharge current (W)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/MaxFeedInPower",
                    "type": "float",
                    "name": "Maximum System Grid Feed In (W)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/OvervoltageFeedIn",
                    "type": "enum",
                    "name": "Feed excess DC-coupled PV into grid",
                    "enum": {
                        "0": "Don’t feed excess DC-tied PV into grid",
                        "1": "Feed excess DC-tied PV into the grid"
                    },
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/PreventFeedback",
                    "type": "enum",
                    "name": "AC-coupled PV - grid feed in excess",
                    "enum": {
                        "0": "Feed excess AC-tied PV into grid",
                        "1": "Don’t feed excess AC-tied PV into the grid"
                    },
                    "writable": true
                },
                {
                    "path": "/Settings/SystemSetup/MaxChargeVoltage",
                    "type": "float",
                    "name": "Limit managed battery voltage (V DC)",
                    "writable": true
                }
            ]
        },
        "pathObj": {
            "path": "/Settings/CGwacs/BatteryLife/MinimumSocLimit",
            "type": "float",
            "name": "ESS Minimum SoC (unless grid fails) (%)",
            "writable": true
        },
        "name": "",
        "x": 950,
        "y": 340,
        "wires": []
    },
    {
        "id": "e9e090537adb614c",
        "type": "victron-input-battery",
        "z": "27c7285378b4bf0f",
        "d": true,
        "service": "com.victronenergy.battery.socketcan_can0",
        "path": "/Soc",
        "serviceObj": {
            "service": "com.victronenergy.battery.socketcan_can0",
            "name": "Pylontech 3000C 7kwh",
            "paths": [
                {
                    "path": "/Alarms/CellImbalance",
                    "type": "enum",
                    "name": "Cell Imbalance alarm",
                    "enum": {
                        "0": "No alarm",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/HighChargeCurrent",
                    "type": "enum",
                    "name": "High charge current alarm",
                    "enum": {
                        "0": "No alarm",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/HighChargeTemperature",
                    "type": "enum",
                    "name": "High charge temperature alarm",
                    "enum": {
                        "0": "No alarm",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/HighDischargeCurrent",
                    "type": "enum",
                    "name": "High discharge current alarm",
                    "enum": {
                        "0": "No alarm",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/HighTemperature",
                    "type": "enum",
                    "name": "High battery temperature alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/HighVoltage",
                    "type": "enum",
                    "name": "High voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/InternalFailure",
                    "type": "enum",
                    "name": "Internal error alarm",
                    "enum": {
                        "0": "No alarm",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowChargeTemperature",
                    "type": "enum",
                    "name": "Low charge temperature alarm",
                    "enum": {
                        "0": "No alarm",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowTemperature",
                    "type": "enum",
                    "name": "Low battery temperature alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowVoltage",
                    "type": "enum",
                    "name": "Low voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Capacity",
                    "type": "float",
                    "name": "Capacity (Ah)"
                },
                {
                    "path": "/Dc/0/Current",
                    "type": "float",
                    "name": "Current (A)"
                },
                {
                    "path": "/Dc/0/Temperature",
                    "type": "float",
                    "name": "Battery temperature (C)"
                },
                {
                    "path": "/Dc/0/Voltage",
                    "type": "float",
                    "name": "Voltage (V)"
                },
                {
                    "path": "/History/ChargedEnergy",
                    "type": "float",
                    "name": "Charged Energy (kWh)"
                },
                {
                    "path": "/History/DischargedEnergy",
                    "type": "float",
                    "name": "Discharged Energy (kWh)"
                },
                {
                    "path": "/Info/BatteryLowVoltage",
                    "type": "float",
                    "name": "Min discharge voltage (V DC)"
                },
                {
                    "path": "/Info/MaxChargeCurrent",
                    "type": "float",
                    "name": "CCL - Charge Current Limit (A)"
                },
                {
                    "path": "/Info/MaxChargeVoltage",
                    "type": "float",
                    "name": "CVL - Charge Voltage Limit (V)"
                },
                {
                    "path": "/Info/MaxDischargeCurrent",
                    "type": "float",
                    "name": "DCL - Discharge Current Limit (A)"
                },
                {
                    "path": "/Soc",
                    "type": "float",
                    "name": "State of charge (%)"
                },
                {
                    "path": "/Soh",
                    "type": "float",
                    "name": "State of health (%)"
                },
                {
                    "path": "/System/MaxVoltageCellId",
                    "type": "string",
                    "name": "System; ID of module with highest cell voltage"
                },
                {
                    "path": "/System/MaxCellTemperature",
                    "type": "float",
                    "name": "Maximum cell temperature (Degrees celsius)"
                },
                {
                    "path": "/System/MaxCellVoltage",
                    "type": "float",
                    "name": "System; maximum cell voltage (V DC)"
                },
                {
                    "path": "/System/MaxTemperatureCellId",
                    "type": "string",
                    "name": "System; ID of module with highest cell temperature"
                },
                {
                    "path": "/System/MinVoltageCellId",
                    "type": "string",
                    "name": "System; ID of module with lowest cell voltage"
                },
                {
                    "path": "/System/MinCellTemperature",
                    "type": "float",
                    "name": "Minimum cell temperature (Degrees celsius)"
                },
                {
                    "path": "/System/MinCellVoltage",
                    "type": "float",
                    "name": "System; minimum cell voltage (V DC)"
                },
                {
                    "path": "/System/MinTemperatureCellId",
                    "type": "string",
                    "name": "System; ID of module with lowest cell temperature"
                },
                {
                    "path": "/System/NrOfModulesBlockingCharge",
                    "type": "integer",
                    "name": "Number of modules blocking charge"
                },
                {
                    "path": "/System/NrOfModulesBlockingDischarge",
                    "type": "integer",
                    "name": "Number of modules blocking discharge"
                },
                {
                    "path": "/System/NrOfModulesOffline",
                    "type": "integer",
                    "name": "Number of offline modules"
                },
                {
                    "path": "/System/NrOfModulesOnline",
                    "type": "integer",
                    "name": "Number of online modules"
                }
            ]
        },
        "pathObj": {
            "path": "/Soc",
            "type": "float",
            "name": "State of charge (%)"
        },
        "initial": "",
        "name": "",
        "x": 190,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "68a12d3f300b34e5",
        "type": "sunrise",
        "z": "27c7285378b4bf0f",
        "name": "",
        "lat": "48.23943",
        "lon": "9.93417",
        "start": "goldenHourEnd",
        "end": "goldenHour",
        "soff": "30",
        "eoff": "-30",
        "x": 150,
        "y": 120,
        "wires": [
            [],
            [
                "c5051da42fcc79d6"
            ]
        ]
    },
    {
        "id": "c5051da42fcc79d6",
        "type": "switch",
        "z": "27c7285378b4bf0f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "db8c8875ae01ee0e"
            ],
            [
                "efd6f35e3ee8e1c8"
            ]
        ]
    },
    {
        "id": "db8c8875ae01ee0e",
        "type": "function",
        "z": "27c7285378b4bf0f",
        "name": "Sunrise",
        "func": "flow.set('sunrise',Date.now());\nflow.set('energy_sunrise',flow.get('energy_now'));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "5df32e136347813c",
        "type": "victron-input-pvinverter",
        "z": "27c7285378b4bf0f",
        "service": "com.victronenergy.pvinverter.http_20",
        "path": "/Ac/Energy/Forward",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter.http_20",
            "name": "SolarLog500",
            "paths": [
                {
                    "path": "/Ac/Energy/Forward",
                    "type": "float",
                    "name": "Total energy (kWh)"
                },
                {
                    "path": "/Ac/L1/Current",
                    "type": "float",
                    "name": "L1 Current (A)"
                },
                {
                    "path": "/Ac/L1/Energy/Forward",
                    "type": "float",
                    "name": "L1 Energy (kWh)"
                },
                {
                    "path": "/Ac/L1/Power",
                    "type": "float",
                    "name": "L1 Power (W)"
                },
                {
                    "path": "/Ac/L1/Voltage",
                    "type": "float",
                    "name": "L1 Voltage (V)"
                },
                {
                    "path": "/Ac/L2/Current",
                    "type": "float",
                    "name": "L2 Current (A)"
                },
                {
                    "path": "/Ac/L2/Energy/Forward",
                    "type": "float",
                    "name": "L2 Energy (kWh)"
                },
                {
                    "path": "/Ac/L2/Power",
                    "type": "float",
                    "name": "L2 Power (W)"
                },
                {
                    "path": "/Ac/L2/Voltage",
                    "type": "float",
                    "name": "L2 Voltage (V)"
                },
                {
                    "path": "/Ac/L3/Current",
                    "type": "float",
                    "name": "L3 Current (A)"
                },
                {
                    "path": "/Ac/L3/Energy/Forward",
                    "type": "float",
                    "name": "L3 Energy (kWh)"
                },
                {
                    "path": "/Ac/L3/Power",
                    "type": "float",
                    "name": "L3 Power (W)"
                },
                {
                    "path": "/Ac/L3/Voltage",
                    "type": "float",
                    "name": "L3 Voltage (V)"
                },
                {
                    "path": "/Ac/Power",
                    "type": "float",
                    "name": "Total Power (W)"
                },
                {
                    "path": "/Position",
                    "type": "enum",
                    "name": "Position",
                    "enum": {
                        "0": "AC input 1",
                        "1": "AC output",
                        "2": "AC input 2"
                    }
                },
                {
                    "path": "/Serial",
                    "type": "string",
                    "name": "Serial"
                },
                {
                    "path": "/StatusCode",
                    "type": "enum",
                    "name": "Status",
                    "enum": {
                        "0": "Startup 0",
                        "1": "Startup 1",
                        "2": "Startup 2",
                        "3": "Startup 3",
                        "4": "Startup 4",
                        "5": "Startup 5",
                        "6": "Startup 6",
                        "7": "Running",
                        "8": "Standby",
                        "9": "Boot loading",
                        "10": "Error",
                        "11": "Running (MPPT)",
                        "12": "Running (Throttled)"
                    }
                }
            ]
        },
        "pathObj": {
            "path": "/Ac/Energy/Forward",
            "type": "float",
            "name": "Total energy (kWh)"
        },
        "name": "",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "46448bc5cd1e2344"
            ]
        ]
    },
    {
        "id": "46448bc5cd1e2344",
        "type": "function",
        "z": "27c7285378b4bf0f",
        "name": "Energy Now",
        "func": "flow.set('energy_now',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "338f84b5c65f2f99",
        "type": "function",
        "z": "27c7285378b4bf0f",
        "name": "Sunset",
        "func": "// capa capacity of battery\ncapa = 7.104;\n\n// minimum system soc\nsyssoc = 10;\n\n// get time of sunset\nflow.set('sunset',Date.now());\n\n// daylength = length of current day in hours\nflow.set('daylength',(flow.get('sunset')-flow.get('sunrise')) / 3600000);\n\n// get energy counter sunset\nflow.set('energy_sunset',flow.get('energy_now'));\n\n// set energy consumption during solar production\nflow.set('energy_day',(flow.get('energy_sunset')-flow.get('energy_sunrise')));\n\nladung = (flow.get('pv_tomorrow')-flow.get('energy_day'));\n\nminsoc = (1-((ladung*0.90) / capa))*100;\n\nif (minsoc<=syssoc) {\n    msg.payload = syssoc;\n} else {\n    msg.payload = Math.round(minsoc/5)*5;\n}\nflow.set('minsoc',minsoc);\nflow.set('ladung',ladung);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 340,
        "wires": [
            [
                "8cbeb0993f3dfbaf"
            ]
        ]
    },
    {
        "id": "c42f763f1da8d4b9",
        "type": "inject",
        "z": "27c7285378b4bf0f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 480,
        "wires": [
            [
                "d821e62a5e88eecd"
            ]
        ]
    },
    {
        "id": "d821e62a5e88eecd",
        "type": "function",
        "z": "27c7285378b4bf0f",
        "name": "Set SOC 10",
        "func": "msg.payload = 10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 480,
        "wires": [
            [
                "8cbeb0993f3dfbaf"
            ]
        ]
    },
    {
        "id": "4bbec67404066a5f",
        "type": "debug",
        "z": "27c7285378b4bf0f",
        "name": "Allout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "b7c66d7faffdcdfb",
        "type": "inject",
        "z": "27c7285378b4bf0f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 820,
        "y": 40,
        "wires": [
            [
                "d0970be7e60ead3b"
            ]
        ]
    },
    {
        "id": "d0970be7e60ead3b",
        "type": "function",
        "z": "27c7285378b4bf0f",
        "name": "All Flow Out",
        "func": "msg.sunset = flow.get('sunset');\nmsg.sunrise = flow.get('sunrise');\nmsg.daylength = flow.get('daylength');\nmsg.energy_sunset = flow.get('energy_sunset');\nmsg.energy_sunrise = flow.get('energy_sunrise');\nmsg.energy_now = flow.get('energy_now');\nmsg.energy_day = flow.get('energy_day');\nmsg.minsoc = flow.get('minsoc');\nmsg.ladung = flow.get('ladung');\nmsg.pv_today = flow.get('pv_today');\nmsg.pv_tomorrow = flow.get('pv_tomorrow');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 140,
        "wires": [
            [
                "4bbec67404066a5f"
            ]
        ]
    }
]
